
.cabecalho {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 10vh;
}

#imagemCabecalho {
    height: 80px;
}

li {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    color: #fafafa;
    height: fit-content;
    width: 100px;
}


.corpoPrincipal{
    display: flex;
    justify-content: space-between;
    height: 80%;
    margin: 0px 20px; 
    border-left: 0.3px solid black;
    border-right: 0.3px solid black;;
}


#listaCabecalho {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.imagemDivisoria {
    height: 60%;
    width: 55%;
 }

#imagemPrincipal {
    display: flex;
    justify-content: center;
    height: 60%;
    width: 80%;
}

#textoDivisoria {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    height: 80%;
    padding: 40px;
}

#tituloPrincipal {
    display: flex;
    justify-content: center;
    font-size: 30px;
    height: 20vh;
}

#textoPrincipal {
    display: flex;
    justify-content: center;
    font-size: 20px;
    height: 20vh;

}

#botaoPrincipal {
    display: flex;
    justify-content: center;
}

#btnPrincipal {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    background: #ad5389;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
}
   
#btnPrincipal svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
   }
   
#btnPrincipal  span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
   }
   
#btnPrincipal:hover svg {
    transform: translateX(5px) rotate(90deg);
   }
   
#btnPrincipal:hover span {
    transform: translateX(7px);
}

.rodape {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 30%;
    right: 30%;
    margin: 1% 0 0 0;
}

#apodPagina {
    background-color: #fafafa;
    
    color: black
}

#corpo {
    margin: 0px 15px; 
    border-left: 0.3px solid black;
    border-right: 0.3px solid black;
}

.titulo {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.data {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.dataDesejada {
    border-radius: 10px;
}

.btn {
    width: 200px;
    border-radius: 10px;
    background-color: black;
    font-weight: bold;
    color: #fafafa
}
#apodDivisoria {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 70%;
    width: 100%;
    }

.blocoDeImagem {
    display: flex;
    justify-content: center;
    padding: 30px 0 0px 0px;
    margin: 30px;
    width: 60%;
}

#img {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100%;
}

.blocoDeExplicacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 60px 0px 0px;
    width: 40%;
    
}

#paragrafoExplicacao {
    display: flex;
    justify-content: center;
    width: 80%;
    font-size: 25px;
    font-weight: bold;
}

#explicacao {
    display: flex;
    justify-content: center;
    font-size: 20px;
    width: 80%;

}
.apodRodape {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    bottom: 1;
    left: 30%;
    right: 30%;
    margin: 5% 0 0 0;
}

@media screen and (max-device-width: 450px) {

    #botaoPrincipal {
        margin: 80px 0 0 0;
        height: 40%;
    }
}


@media screen and (max-device-width: 1200px) {

    .cabecalho {
        display: flex;
        justify-content: center;
        width: 80%;
        height: fit-content;
        
    }

    /*#listaCabecalho {
        display: flex;
        flex-direction: column;
        
    }*/
    li {
        height: fit-content;
    }

    .corpoPrincipal{
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 100%;
        margin: 0px 0px; 
        border-left: 0;
        border-right: 0; 
        
    }

    .imagemDivisoria {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 30%;

    }

    #imagemPrincipal {
        width: 60%;
        height: 50%;
    }

    #textoDivisoria {
        display: flex;
        justify-content: center;
        height: 80%;
        width: 100%;
    }

    #tituloPrincipal {
        display: flex;
        justify-content: center;
        font-size: 25px;
        height: 20%;
    }

    #textoPrincipal {
        display: flex;
        justify-content: flex-end;
        font-size: 20px;
        height: 20%;
    }

    #botaoPrincipal {
        margin: 80px 0 0 0;
        height: 20%;
    }

    .rodape {
        display: flex;
        justify-content: center;
        font-size: 15px;
        font-weight: bold;
        position: fixed;
        bottom: 1;
        
   }
  

    #corpo {
        margin: 0px 40px; 
        border-left: 0;
        border-right: 0; 
    }

    #apodDivisoria {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .blocoDeImagem {
        display: flex;
        justify-content: center;
        margin: 0px;
        width: 100%;
        height: 40%;
    }
    
    #img {
        display: flex;
        justify-content: center;
        width: 80%;
        height: 80%;
    }

    .blocoDeExplicacao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 0px 0px 0px;
        width: 100%;
        
    }
    
    #paragrafoExplicacao {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 20%;
        font-size: 25px;
        font-weight: bold;
    }
    
    #explicacao {
        display: flex;
        justify-content: center;
        font-size: 20px;
        width: 100%;
    }
}

